#buttons{
    width: 132vh;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
#buttons button{
    background-color: #4086f4;
    color: white;
    margin: 5px ;
    padding:5px 25px ;
    font-size: 15px;
    border: none;
}

/* .nextPage{
    width: 60vh;
    margin: auto;
    justify-content: center;
} */
.nextPage button{
    border: none;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 20px ;
    padding: 5px 25px;
    outline: 1px solid #f47729;
    color: #f47729;
    cursor: pointer;
}
@media only screen and (max-width: 670px) {
    #buttons{
        width: 100%;
    }
}