* {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eeeeee;
}

.loding_div {
    text-align: center;
}

#container {
    background-color: #4086f4;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.mid a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

.right input {
    padding: 5px;
    font-size: 15px;
}

.right button {
    background-color: #f47729;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 670px) {
    #container {
        background-color: #4086f4;
        width: 100%;
    }
    #container .left{
        width: 100%;
        margin-right: -35vh;
    }
    .mid a {
        display: none;
    }

}

@media only screen and (max-width: 375px){
    #container {
        display: block;
        width: 90%;
    }
    .left {
        width: 50%;
    }
    .right {
        margin: auto;
        text-align: center;
    }
    .right input {
        margin-bottom: 20px;
    }
} 