#secondPage{
    background-color: white;
    width: 132vh;
    margin: auto;
    height: 50vh;
}
#secondPage .heading{
    display: flex;
    background-color: #041982;
    color: white;
    font-size: 13px;
    font-weight: 800;
}
#secondPage .heading p{
    margin-left: 40px;
}
.a_div{
    width: 70vh;
    text-align: center;
    margin: auto;
    height: 5vh;
    margin-top: 20vh;
}
.a{
    font-size: 20px;
    padding: 10px 50px;
    border: none;
    background-color: #0655be;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 20vh;
    text-decoration: none;
}

@media only screen and (max-width:670px){
    #secondPage{
        width: 80%;
    }
    #secondPage .heading{
        display: flex;
        font-size: 12px;
        font-weight: 0;
    }
    #secondPage .heading p{
        margin-left: 15px;
    }
    .a_div{
        width: 70vh;
        text-align: center;
        margin: auto;
        height: 5vh;
        margin-top: 20vh;
    }
    .a{
        font-size: 20px;
        padding: 10px 50px;
        border: none;
        background-color: #0655be;
        color: white;
        border-radius: 30px;
        cursor: pointer;
        margin-bottom: 20vh;
        text-decoration: none;
    }
}

@media only screen and (max-width:360px){
    #secondPage{
        width: 100%;
        height: 50vh;
    }
    #secondPage .heading{
        font-size: 13px;
        font-weight: 0;
    }
    #secondPage .heading p{
        margin-left: 10px;
        text-align: center;
    }
    .a_div{
        width: 100%;
    }
    .a{
        font-size: 15px;
        padding: 15px 40px;
    }
}